<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="post">Quora Posts</h1>
    <% for (const post of posts) { %>
        <div class="post">
            <h3 class="user">@<%= post.username %></h3>
            <h4 class="content"><%= post.content %></h4>
            <br>
            <a href="http://localhost:8080/posts/<%= post.id %>">See in Detail</a>
            <a href="http://localhost:8080/posts/<%= post.id %>/edit">Edit</a>
            <form action="/posts/<%= post.id %>?_method=DELETE" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </div>
    <% } %>
    <br>
    <a href="http://localhost:8080/posts/new">Create New Post</a>
</body>
</html>
